{% extends 'base.html.twig' %}

{% block title %}Search | {{ search }}{% endblock %}

{% block classBody %}results{% endblock %}

{% block body %}
    {% if total_results > 0 %}
        <section class="heading">
            <div class="wrapper-section">
                <h1>Result search for : {{ search }}</h1>
                <a href="{{ app.request.headers.get('referer') }}" class="back"><span class="material-icons">arrow_back</span>Back</a>
            </div>
        </section>
        <section class="results">
            <div class="wrapper-section">
                <ul class="listing-results">
                    {% for element in  results %}
                        {% if type != "person" %}
                        <li class="result" id="{{ element["id"] }}">
                            <a href="/favorites/add/{{ element["id"] }}?title={{ element["title"] }}" class="addToFavorite material-icons">favorite_border</a>
                            <a href="/movies/{{ element["id"] }}" class="link" title="Go on {{ element["title"] }}'s page">
                                    {% if element["poster_path"] %}
                                        {% set poster_path = "https://image.tmdb.org/t/p/original/" ~ element["poster_path"] %}
                                    {% else %}
                                        {% set poster_path = "./assets/images/default.JPG" %}
                                    {% endif %}
                                <img src="{{ poster_path }}" alt="{{ element["title"] }}'s poster">
                                <div class="text-wrapper">
                                    <span class="title">{{ element["title"] }}</span>
                                    {% if element["overview"] %}
                                        <p class="overview">{{ element["overview"] | slice(0,100) ~ "…" }}</p>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                            {% else %}
                                <li class="result" id="{{ element["id"] }}">
                                    <a href="/persons/{{ element["id"] }}" title="Go on {{ element["name"] }}'s page">

                                        {% if element["profile_path"] %}
                                            {% set profile_path = "https://image.tmdb.org/t/p/original/" ~ element["profile_path"] %}
                                        {% else %}
                                            {% set profile_path = "./assets/images/default.JPG" %}
                                        {% endif %}
                                        <img src="{{ profile_path }}" alt="{{ element["name"] }}'s poster">
                                        <div class="text-wrapper">
                                            <span class="title">{{ element["name"] }}</span>
                                            {% if element["known_for_department"] %}
                                                <p class="known_for_department">{{ element["known_for_department"] }}</p>
                                            {% endif %}
                                        </div>
                                    </a>
                                </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
